.homecompany-child {
    position: absolute;
    top: 899px;
    left: 231.87px;
    width: 1286px;
    height: 522px;
  }
  .homecompany-item {
    position: absolute;
    top: 0;
    left: -50px;
    width: 1490px;
    height: 754px;
  }
  .homecompany-child1,
  .homecompany-inner {
    position: absolute;
    top: 16px;
    left: 36px;
    width: 78px;
    height: 76px;
    object-fit: cover;
  }
  .homecompany-child1 {
    top: 24px;
    left: 87px;
    width: 245px;
    height: 61px;
  }
  .brands1,
  .home2,
  .notifications1 {
    text-decoration: none;
    position: absolute;
    top: 38px;
    left: 1033px;
    font-weight: 500;
    color: inherit;
  }
  .brands1,
  .notifications1 {
    left: 1139px;
  }
  .notifications1 {
    left: 1254px;
  }
  .profile {
    position: absolute;
    top: 25px;
    left: 1414px;
    width: 53px;
    height: 53px;
    object-fit: cover;
    border-radius: 53px;
  }
  .homecompany-child2 {
    position: absolute;
    top: 64.5px;
    left: 1016.5px;
    border-top: 3px solid var(--color-orange);
    box-sizing: border-box;
    width: 80px;
    height: 3px;
  }
  .category1,
  .filters1 {
    position: absolute;
    top: 111px;
    left: 36px;
    font-size: var(--font-size-lg);
  }
  .category1 {
    top: 157px;
    font-weight: 600;
    color: var(--color-black);
  }
  .coupons-posted-by1,
  .discount-range1 {
    position: absolute;
    top: 137px;
    left: 422px;
    font-size: var(--font-size-xl);
    font-weight: 600;
  }
  .discount-range1 {
    top: 600px;
    left: 36px;
    font-size: var(--font-size-lg);
    color: var(--color-black);
  }
  .icon-chevron-right1 {
    position: absolute;
    height: 0.69%;
    width: 1.18%;
    top: 8.52%;
    right: 86.51%;
    bottom: 90.79%;
    left: 12.3%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .checkboxdefault-checkbox-and15 {
    position: absolute;
    top: 191px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and16 {
    position: absolute;
    top: 231px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and17 {
    position: absolute;
    top: 271px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and18 {
    position: absolute;
    top: 311px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and19 {
    position: absolute;
    top: 351px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and20 {
    position: absolute;
    top: 391px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and21 {
    position: absolute;
    top: 431px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and22 {
    position: absolute;
    top: 471px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and23 {
    position: absolute;
    top: 511px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and24 {
    position: absolute;
    top: 551px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and25 {
    position: absolute;
    top: 642px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and26 {
    position: absolute;
    top: 682px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and27 {
    position: absolute;
    top: 722px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and28 {
    position: absolute;
    top: 762px;
    left: 36px;
  }
  .checkboxdefault-checkbox-and29 {
    position: absolute;
    top: 802px;
    left: 36px;
  }
  .group-child,
  .group-item {
    position: absolute;
    top: 0;
    left: 19px;
    border-radius: var(--br-xl);
    background-color: var(--color-darkslateblue-100);
    width: 250px;
    height: 246px;
  }
  .group-item {
    top: 112px;
    background-color: var(--color-orange);
    height: 181px;
  }
  .group-child1,
  .group-inner {
    position: absolute;
    top: 186px;
    left: 0;
    border-radius: var(--br-81xl);
    background-color: var(--color-aliceblue);
    width: 40px;
    height: 38px;
  }
  .group-child1 {
    left: 249px;
  }
  .fashion1,
  .hm1 {
    position: absolute;
    left: 101px;
    font-weight: 600;
  }
  .hm1 {
    top: 9px;
    display: inline-block;
    width: 48px;
    height: 23px;
  }
  .fashion1 {
    top: 32px;
    font-size: var(--font-size-sm);
  }
  .group-child2 {
    position: absolute;
    top: 11px;
    left: 34px;
    border-radius: var(--br-3xs);
    width: 53px;
    height: 52px;
    object-fit: cover;
  }
  .group-child3 {
    position: absolute;
    top: 55px;
    left: 101px;
    border-radius: var(--br-6xs);
    background-color: var(--color-orange);
    width: 71px;
    height: 27px;
  }
  .div1 {
    position: absolute;
    top: 57px;
    left: 112px;
    font-size: var(--font-size-base);
    font-weight: 600;
    color: var(--color-black);
  }
  .group-child4 {
    position: absolute;
    top: 205px;
    left: 39px;
    border-top: 2px dashed var(--color-black);
    box-sizing: border-box;
    width: 211px;
    height: 2px;
  }
  .icon-link-alt1 {
    position: absolute;
    height: 5.14%;
    width: 8.64%;
    top: 46.31%;
    right: 74.63%;
    bottom: 48.56%;
    left: 16.73%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
  }
  .buttontext-only1 {
    position: absolute;
    top: 128px;
    left: 76px;
  }
  .buttoncontained-text1,
  .rectangle-group {
    position: absolute;
    top: 236px;
    left: 67px;
  }
  .rectangle-group {
    top: 184px;
    left: 401px;
    width: 289px;
    height: 293px;
    font-size: var(--font-size-xl);
    color: var(--color-white);
  }
  .homecompany {
    position: relative;
    background-color: var(--color-white);
    width: 100%;
    height: 1420px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-darkslateblue-100);
    font-family: var(--font-poppins);
  }
  